.body-index{
  position: absolute;
  top: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  width: 100%;
  text-align: center;
  display: table;
}

.body-index-centerHeight{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}